*
!bin
!bin/**
!config
!config/config.yaml
!data
!data/gdc
!data/gdc/all
!data/gdc/primary_tumors
!data/gdc/primary_tumors/tcga_wgs_file_meta.tsv
!data/gdc/primary_tumors/tcga_wgs_readgrp_meta.tsv
!envs
!envs/*
!external
!external/**
!LICENSE
!README.md
!scripts
!scripts/*
!workflow
!workflow/**
!wrappers
!wrappers/**
!docs/wrappers
!tcga-wgs-kraken-microbial-quant.svg
!.gitignore
!.editorconfig
!.gitattributes
!.gitmodules
!.snakemake-workflow-catalog.yaml
!.test
!.test/data
